.ipapa-home{
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding-top: 5em;
  font-family: $stack-open-sans;

  &__information-detail{
    width: 100%;
    display: inline-block;

    .box-title-top{
      width: 100%;
      display: inline-block;
      margin-bottom: 4em;

      .title{
        font-size: 4em;
        color: $white;
        font-family: $stack-muli;
        font-weight: 700;
      }

      .sub-title{
        width: 100%;
        display: inline-block;

        #typed-ipapa{
          font-family: $stack-open-sans;
          font-size: 1.5em;
          color: #FFF000;
          font-weight: 300;
        }

        .typed-cursor{
          color: $white;
          font-size: 2em;
        }
      }
    }

    .box-info-tree{
      width: 100%;
      display: inline-block;
      margin-bottom: 5em;

      .rounded{
        border: 2px solid $white;
        background-color: transparent;
        width: 200px;
        height: 200px;
        margin-right: 30px;
        margin-bottom: 20px;
        border-radius: 50%;
        text-align: center;
        float: left;
        @include transition(.4s);

        &:hover{
          background-color: #055074;
          color: #055074;
          border: 1px solid #055074;
          @include transition(.4s);
        }

        .icon{
          display: block;
          margin-top: 2em;
          margin-bottom: 1em;

          img{
            width: 95px;
          }
        }
      }

      .title{
        display: inline-block;
        width: 100%;

        span{
          font-family: $stack-muli;
          font-weight: 300;
          font-size: 1em;
          color: $white;
        }
      }
    }

    .box-logo{
      width: 100%;
      display: inline-block;
      margin-bottom: 20px;

      ul{
        padding-left: 0px;
        display: inline-block;

        li{
          list-style: none;
          margin-right: 15px;
          float: left;

          &:first-child{
            padding-right: 2em;
            border-right: 1px solid #2485c2;
          }

          img{
            width: 100px;
            height: auto;
            display: block;

            &.first{
              width: 150px;
            }
          }
        }
      }
    }
  }

  &__mobile-info{
    bottom: 0;
    width: 100%;
    display: inline-block;
    text-align: center;

    .mobile-ss{
      display: inline-block;
      margin-bottom: 10px;
      
      .line{
        width: 100%;
        height: 6px;
        background: #1e1a19;
        -webkit-box-shadow: 1px 24px 35px -15px rgba(0,0,0,.75);
        -moz-box-shadow: 1px 24px 35px -15px rgba(0,0,0,.75);
        box-shadow: 1px 24px 35px -15px rgba(0,0,0,.75);
      }

      img{
        width: 100%;
        height: auto;
      }
    }

    .info-play-store{
      width: 100%;
      display: inline-block;

      .title{
        width: 100%;
        display: block;
        font-size: 1.4em;
        font-family: $stack-muli;
        font-weight: 300;
        color: $white;
        margin-bottom: 10px;
      }

      img{
        width: 150px;
        height: auto;
      }
    }
  }
}